<!DOCTYPE html>
<html>
<head>
	<title>Good Game - Ratings</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css') }}"/>

</head>
<body>

	<header>
		<h1>
			<a href="{{ url_for('home') }}">
				<img src="{{ url_for('static', filename='images/logomain.png') }}" alt="main logo"/>
			</a>
		</h1>

		<nav>
			<ul>
				<li><a href="{{ url_for('home') }}">Home</a></li>
				<li><a class="active" href="{{ url_for('ratings') }}">Ratings</a></li>
				<li><a href="{{ url_for('teams') }}">Teams</a></li>
				<li><a href="{{ url_for('opinions') }}">Your Opinion</a></li>
				<li><a href="{{ url_for('contact') }}" style="float:right">Contact</a></li>
			</ul>
		</nav>

	</header>


	<div id="container">
		<div class="leftcolumn">
			<div class="contentsection">
				<h2 class="sectionheader">Premier League 2018/19 match entertainment ratings</h2>
				<p>Here are the entertainment ratings for matches from the 2018/19 English Premier League
					season, the ratings have been predicted using our machine learning algorithm which takes as input the statstics from the match
					and gives the entertainment rating as output. These ratings are then
					compared against a humans rating to see the difference between the results. </p>
				<p>(The matches are ranked by a 5 star system with 1 being the worst and 5 being the best)</p>
			</div>
			<div class="contentsection">
				<h2 class="sectionheader">MatchWeek {{ week }}</h2>

				<table id="opinionstable">
					<tr>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th>ML Algorithm</th>
						<th>Human</th>
					</tr>

					{% for i in tables.itertuples() %}
						<tr class="matchseperation">
							<td>
								<img src="static/images/{{ i.HomeTeam }}Small.png" alt="{{ i.HomeTeam }} badge" /></br>
								{{ i.HomeTeam }}
							</td>
							<td>vs</td>
							<td>
								<img src="static/images/{{ i.AwayTeam }}Small.png" alt="{{ i.AwayTeam }} badge" /></br>
								{{ i.AwayTeam }}
							</td>
							<td>{{ i.Date }}</td>
							<td>
								{% if i.MPER == 5.0 %}
									<img src="{{ url_for('static', filename='images/fivestarSmall.png') }}" alt="five stars" />
								{% elif i.MPER == 4.0 %}
									<img src="{{ url_for('static', filename='images/fourstarSmall.png') }}" alt="four stars" />
								{% elif i.MPER == 3.0 %}
									<img src="{{ url_for('static', filename='images/threestarSmall.png') }}" alt="three stars" />
								{% elif i.MPER == 2.0 %}
									<img src="{{ url_for('static', filename='images/twostarSmall.png') }}" alt="two stars" />
								{% elif i.MPER == 1.0 %}
									<img src="{{ url_for('static', filename='images/onestarSmall.png') }}" alt="one stars" />
								{% else %}
									Not yet rated
								{% endif %}
							</td>
							<td>
								{% if i.HER == 5.0 %}
									<img src="{{ url_for('static', filename='images/fivestarSmall.png') }}" alt="five stars" />
								{% elif i.HER == 4.0 %}
									<img src="{{ url_for('static', filename='images/fourstarSmall.png') }}" alt="four stars" />
								{% elif i.HER == 3.0 %}
									<img src="{{ url_for('static', filename='images/threestarSmall.png') }}" alt="three stars" />
								{% elif i.HER == 2.0 %}
									<img src="{{ url_for('static', filename='images/twostarSmall.png') }}" alt="two stars" />
								{% elif i.HER == 1.0 %}
									<img src="{{ url_for('static', filename='images/onestarSmall.png') }}" alt="one stars" />
								{% else %}
									Not yet rated
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</table>

			</div>
		</div>
		<div class="rightcolumn">
			<div class="contentsection">
				<h2 class="sectionheader">MatchWeek</h2>
				<h3>Select a matchweek to find the entertainment ratings of the games from that week:</h3>

				<form action="" method="POST" name="testform">
					{% for i in range(1,39) %}
				  		<input type="radio" name="matchweek" value="{{i}}" checked> MatchWeek {{i}}<br>
					{% endfor %}

					<div class="buttongroup">
						<input type="submit" value="Choose" />
					</div>
				</form>

			</div>
		</div>

	</div>

	<footer>
		<p>Developed by: Liam Cooper</p>
		<p>My Email: 916153@swansea.ac.uk</p>
		<p>GoodGame pages:</p>
		<p>| <a href="{{ url_for('home') }}">Home</a> | <a href="{{ url_for('ratings') }}">Ratings</a>
			| <a href="{{ url_for('teams') }}">Teams</a> | <a href="{{ url_for('opinions') }}">Your Opinion</a>
			| <a href="{{ url_for('contact') }}">Contact</a> |</p>
		<p>&copy;Copyright 2019. All Rights Reserved.</p>
	</footer>

</body>
</html>
